.App {
  width: 100vw;
  min-height: 100vh;
  background-color: lightblue;
}

header {
  display: flex;
  background-color: #1d3461;
  padding: 20px;
}

header a {
  margin: 0px 20px;
  text-decoration: none;
  font-family: "Norwester";
  font-size: 24px;
  color: white;
}

.Page {
  padding: 20px;
  width: 90%;
  min-height: 80vh;
  margin: auto;
  background-color: white;
}

a:hover {
  cursor: default;
}
